<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBp2Nyevzi9pP7NmJA_Im1L92FOJgOSO3A</string>
	<key>GCM_SENDER_ID</key>
	<string>410382694655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radical.radicalmotor</string>
	<key>PROJECT_ID</key>
	<string>radical-motor-2gq1or</string>
	<key>STORAGE_BUCKET</key>
	<string>radical-motor-2gq1or.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410382694655:ios:ad318d4f068f272e81f4ca</string>
</dict>
</plist>